@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(204, 204, 204);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 550px;
  width: 500px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 15px gray;
}

.form-container h1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: 500;
}

.form-container img {
  display: flex;
  width: 100%;
  height: 50%;
  border-radius: 20px;
  object-fit: cover;
}

.form-container input {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
}

.form-container input:focus {
  outline: slategray solid 1px;
}

.form-button {
  margin-top: 30px;
  background-color: #77b7cd;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.form-button:hover {
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px grey;
}

.custom-password i {
  position: relative;
  bottom: 30px;
  left: 92%;
}

.custom-checkbox {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: baseline; 
}
